<nav class="navbar navbar-dark bg-dark">
  <div class="headerContainer w-100 d-flex justify-content-between">
    <div class="leftContainer">
      <!-- <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
    </ul> -->
      <div class="input-group">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control" />
      </div>
      <button type="button" class="btn btn-primary">
        Search
      </button>
    </div>
      <!-- <input type="search" id="form1" class="form-control" />
      <button type="button" class="btn btn-primary">
     Search
      </button> -->
    </div>
    <div class="rightContainer">
      <a class="nav-link" (click)="Logout()">Logout</a>
    </div>
  </div>

</nav>