<!-- <div class="formContainer">
    <h1>Login Form</h1>
    <form #simpleForm="ngForm" class="d-flex flex-column" >

      <input class="form-control"  id="email" type="text" ngModel name="email" placeholder="Enter your email" required /><br>
      <span class="invalid" *ngIf="invalidEmail">INVALID EMAIL</span>
      <br>
      <input class="form-control" id="pass" type="password" ngModel name="password" placeholder="Enter your password" required /><br>
      <span class="invalid" *ngIf="invalidPass">INVALID PASSWORD</span>
      <br>
      <button class="btn btn-light" (click) ="GetValue(simpleForm)">Login</button>
    </form>
  </div>
  ---------------------------------------------------------------------------- -->
  <!-- <div class="outputContainer" *ngIf="isValid"> 
    <router-outlet></router-outlet>
  </div> -->
  <div class="formContainer">
    <h1>Login Form</h1>
    <form class="d-flex flex-column" >

      <input class="form-control"   type="text" [(ngModel)]='postData.email' placeholder="Enter your email" name="email"  /><br>
    
      <br>
      <input class="form-control"  type="password" [(ngModel)]='postData.password'  placeholder="Enter your password" name="password" /><br>
      <span [ngStyle]="{'color':'red'}">{{errorText}}</span>
      <br>
      
      <button class="btn btn-light" (click) ="getValue()">Login</button>
    </form>
  </div>