<nav class="navbar navbar-dark bg-dark">
    <div class="headerContainer w-100 d-flex justify-content-between">
      <div class="leftContainer">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Album</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Details</a>
          </li>
      </ul>
      
        <!-- <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" />
        </div>
        <button type="button" class="btn btn-primary">
          Search
        </button>
      </div> -->
        <!-- <input type="search" id="form1" class="form-control" />
        <button type="button" class="btn btn-primary">
       Search
        </button> -->
      </div>
      <div class="rightContainer">
        <a class="nav-link" routerLink="/login">Prashant Rai</a>
      </div>
    </div>
  
  </nav>
  <!-- {{profileData}} -->
  
    <mat-card>
      <h3>{{profileData.name}}</h3>
      <h3>{{profileData.id}}</h3>
      <h3>{{profileData.phone}}</h3>
      <h3>{{profileData.email}}</h3>
      <h3>{{profileData.address.street}}</h3>
    </mat-card>
      
      
<app-footer></app-footer>